.form {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(var(--font-rgb));
  background-color: rgb(var(--style-background-rgb));
  font: var(--style-font);
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-items: center;
}

.formSection {
  padding: 10px;
  min-width: 300px;
}

.input {
  border: 0;
  border-bottom: 1px solid rgb(var(--font-rgb));
  height: 35px;
  background-color: inherit;
  margin-bottom: 10px;
  font-size: 13px;
  width: inherit;
  color: inherit;
  width: 100%;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 17px;
}

.termOfUseCheckbox {
  margin-right: 5px;
}

.termOfUseLabel {
  font-size: 13px;
  font: var(--style-font);
}

.signupButton {
  display: block;
  width: 100px;
  padding: 3px;
  background-color: rgb(var(--style-background1-rgb));
  border: none;
  border-radius: 12px;
  color: rgb(var(--font-rgb));
  font-size: 13px;
  font: var(--style-font);
}
