.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: inherit;
  margin: 0;
  border: 0;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid rgb(var(--style-font-rgb));
}

.slider-background {
  position: absolute;
  background-color: rgb(var(--style-background1-rgb));
}

.leftValue {
  height: inherit;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px;
  width: 50%;
  text-align: center;
  transition: all 0.5s ease 0s;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 50%,
    rgb(var(--style-background1-rgb)) 50%
  );
  background-size: 400% 100%;
  background-position: left bottom;
}

.rightValue {
  height: inherit;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  width: 50%;
  text-align: center;
  transition: all 0.5s ease 0s;
  background-position: right bottom;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1) 50%,
    rgb(var(--style-background1-rgb)) 50%
  );
  background-size: 400% 100%;
  background-position: right bottom;
}

.rightValue.selected {
  background-position: left bottom;
}

.leftValue.selected {
  background-position: right bottom;
}

.selected {
  color: white;
  width: 75px;
}
